apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-green 
  namespace: petclinic
  labels:
    app: petclinic
    version: green 
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
      version: green
  template:
    metadata:
      labels:
        app: petclinic
        version: green
    spec:
      containers:
        - name: petclinic
          image: jyotsna2181/petclinic:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m" 
              memory: "256Mi" 
            limits:
              cpu: "300m" 
              memory: "512Mi" 
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
    