apiVersion: v1 
kind: Service
metadata:
  name: petclinic-svc 
  namespace: petclinic
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: petclinic
    version: blue